html {
    font-family: "Open Sans", sans-serif;
}

.hero {
    padding: 0.6rem;
    border-bottom: solid 3px #48c78e;
}

.hero div {
    text-align: center;
    
}

.hero div img {
    height: 35px;
    margin-bottom: 0.2rem;
}

button {
    border: 0;
    padding: 0.5rem 1.5rem;
    font-size: 90%;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    outline-width: 0;
}

button:hover {
    background: #eee;  
}

button.primary {
    background-color: #48c78e;
    color: white;
}

h1 {
    color: #48c78e;
    font-weight: normal;
    margin: 1.8rem 0 1rem 0;
    font-size: 1.5rem
}

section.main {
    margin: 0 1.5rem 1.5rem 1.5rem;
}

div.notification {
background-color: #f5f5f5;
padding: 1.5rem;
position: relative;
margin-bottom: 0.5rem;
border-radius: 3px;
display: none;
}

#courses div.notification {
    margin-bottom: 1rem; 
}

#close-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor:pointer;
    background-image: url(img/x-mark_grey.png);
}

#close_button:hover {
    background-image: url(img/x-mark_red.png);
} 

label {
    display: block;
    padding: 1rem 0 0.5rem 0;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: solid #f5f5f5 2px;
    border-radius: 3px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    opacity: 1; /* Firefox */
  }
  
  .input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: silver;
  }
  
  .input::-ms-input-placeholder { /* Microsoft Edge */
    color: silver;
  }

div.button-wrapper {
    text-align: right;
    margin-top: 1rem;
}

form[name="add-course"] div.button-wrapper {
    text-align: left;
}

#video-length-wrap {
    border: solid #f5f5f5 2px;
    border-radius: 3px;
    display: flex;
}

#duration {
    border: 0;
}

#video-length-wrap > div:first-child {
    flex-grow: 5;
    border-right: solid #f5f5f5 2px;
}

#video-length-wrap > div:last-child {
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

#video-length-wrap > div:last-child > span {
    display: block;
}

.container:nth-child(2) {
    display: flex;
    height: 40vh;
    margin: 1rem 0 0 0;
}

.container .main-title-wrapper {
    background-color: rgb(2, 17, 17);
    width: 100%;
    color: rgb(193, 240, 216);
    text-align: left;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .main-title-wrapper h1 {
    color: white;
}

.container .main-title-wrapper .button-wrapper {
    text-align: left;
}

.container .main-title-wrapper .button-wrapper button {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.container .main-pic-wrapper {
    width: 50%;
    display: none;
    background: url(img/skyscraper-city-paris.jpg);
    background-size: cover; 
}

#courses .container .main-pic-wrapper {
    background: url(img/books.jpg); 
}

#login .hero, #courses .hero {
    border-bottom: 0;
    padding-bottom: 0;
}

#title_wrapper {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.card .img-bkg {
    height: 200px;
    
}

.card h2 {
    font-size: 1.2rem;
    margin: 0.8rem 0.8rem;
}

.card div.info {
    margin: 0 0.8rem; 
}

.card div.info span {
    display: inline-block;
    border: solid #f5f5f5 2px;
    border-radius: 3px;
    padding: 0.2rem;
    font-size: 90%;
    box-sizing: border-box;
}

.card div.info span img {
    width: 13px;
    height: 13px;
}

.price-details {
    margin: 1rem 0.8rem 0 0.8rem; 
    font-size: 1.2rem;
    font-weight: 700;
}

.price-details span:first-child {
    color: grey;
    text-decoration: line-through;
}

.price-details span:last-child {
    color: red; 
}

@media only screen and (min-width: 768px)  {
    
    section.main {
        max-width: 768px;
        margin: 0 auto;
    }

    #courses section.main {
        max-width: 1024px; 
    }

    .hero {
        padding-top: 0.9rem;
    }

    div.container {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
    }

    #courses div.container {
        max-width: 1200px;
    }

    #prices {
        display: flex;
        
    }
    #prices > div {
        flex-grow: 1;
    }
    #prices > div:first-child {
        padding-right: 0.25rem;
    }

    #prices > div:last-child {
        padding-left: 0.25rem;
    }

    .container:last-child {
        margin-top: 0;
    }

    .container .main-pic-wrapper {
        display: block;
    }
    .container .main-title-wrapper {
        width: 50%;
    }

    .container:nth-child(2) {
        margin: 0 auto;
    }

    #title_wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    #title_wrapper h1 {
        width: 50%;
    }

    #title_wrapper input {
        width: 49.5%;
        margin-left: 0.5%;
    }

    #courses section.main div.button-wrapper {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    #cards-wrapper {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .card {
        width: 24%;
    }

    #courses h1 {
        margin-top: 1rem;
    }

}